@import url("https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap");

body {
  background: linear-gradient(#991111 0%, #dd4c4f 40%, #d61818c5 100%);
  font-family: "Poppins", sans-serif;
}

.bg-light {
  background: #00000000 !important;
  /* backdrop-filter: blur(3px);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.589); */
  transition: all 0.5s;
}
.bg-light.scrolled {
  background: #ffffff !important;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.589);
  transition: all 0.5s;
}
.nav a {
  color: rgb(252, 252, 252);
}
.nav a:hover {
  color: rgb(165, 30, 30);
}
.nav.scrolled a {
  color: rgb(184, 17, 17);
}
.nav.scrolled a:hover {
  color: rgb(173, 9, 9);
}
.buttonToggle {
  display: none;
}
.initial {
  font-family: "Vampiro One", cursive;
  font-size: 30px;
  margin: -10px;
}
.all-body-cover {
  margin-top: 100px;
}
.opening {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}
.nama {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}
.img-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.waves {
  margin-top: -70px;
  margin-bottom: 70px;
}
.firstContainer {
  background: linear-gradient(
    #ffffff 0%,
    #ffffff 50%,
    #ffffffde 70%,
    #ffffffb6 75%,
    #ffffff7e 80%,
    #ffffff49 85%,
    #ffffff1f 90%,
    #ffffff00 100%
  );
  margin-top: -80px;
  margin-bottom: 70px;
}

.content {
  padding-bottom: 400px;
}
.nameHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 50px;
}
.subNameHeading {
  display: none;
}

.startEnd {
  margin-bottom: -1px;
}

.article-img-holder-thirdRow {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.7s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 40px;
}

.article-img-holder-firstRow:hover {
  transform: scale(1.2);
  filter: saturate(0%);
}
.article-img-holder-secondRow:hover {
  transform: scale(1.2);
  filter: saturate(0%);
}
.article-img-holder-thirdRow:hover {
  transform: scale(1.2);
  filter: saturate(0%);
}
.fourthContainer {
  margin-top: 200px;
}
.fivethContainer {
  margin-top: -150px;
  background-color: #fff;
}
.linkSosmed {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.itemSosmed {
  padding: 10px;
  color: black;
  text-decoration: none;
}
.contactMe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -90px;
}